.r1LogoContainer {
	margin: 50px;
}

.bannerContainer {
	margin-bottom: 30px;
}

.banner {
	width: 100%;
	height: auto;
}

.loremIpsum {
	width:90%;
	margin-left: 50px;
	margin-right: 15px;
}

.formContainer {
	width: 47%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
}

#outputContainer {
	background-color: #edeeef;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.displayedFormData {
	margin-top: 30px;
	margin-left: 50px;
	margin-right:50px;
}